<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jugadasbcba.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>jugadasbcba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jugadasbcba</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Web.Models.ApplicationDbContext, Web" MigrationConfiguration="Web.Migrations.Configuration, Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="usuariosjugadas" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=mysql2.gear.host; user=usuariosjugadas; password=Martes-141414; database=usuariosjugadas;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\usuariosjugadas_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mysql2.gear.host; user=usuariosjugadas; password=Martes-141414; database=usuariosjugadas;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="jugadasdb" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=mysql2.gear.host; user=jugadasdb; password=Martes-141414; database=jugadasdb;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\jugadasdb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mysql2.gear.host; user=jugadasdb; password=Martes-141414; database=jugadasdb;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jugadasdb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)usuariosjugadas-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Web.Models.ApplicationDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>